@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    background: #FFF;
    font-kerning: none;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    @media (min-width: 1023px) {
        flex-direction: row;
    }

    & .header{
        max-height: 125px;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        background-color: #FFF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        z-index: 9;

        @media (min-width: 1023px) {
            width: 50%;
        }

        & ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            
            @media (min-width: 1023px) {
                // gap: 8px;
            }

            & li{
                text-align: right;
                cursor: pointer;
                

                & .mask{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: .25rem;

                    &:hover{
                        & svg{
                            display: block;
                        }
                    }
                }
                & svg{
                    display: none;
                }
                & a{
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.80);
                    font-size: 1.2rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    display: block;

                }
            }
        }
    }

    & .hero{
        height: calc(100% - 125px);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;

        @media (min-width: 1023px) {
            flex-direction: row;
            height: 100%;
        }

        & .hero-img{
            height: 50%;
            width: calc(100% - 24px);
            border-radius: .75rem;
            background-image: url('hero-img.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
            
            @media (min-width: 1023px) {
                background-position: -100px;
                height: 100%;
                width: 50%;
                border-radius: 0;
            }

            &__overlay{
                position: absolute;
                right: 0;
                display: block;
                height: 100%;
                width: 100%;
                background-color: #fff;
                transform-origin: left;
            }
        }

        & .hero-content{
            height: 50%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            gap: 12px;
            padding: .5rem .25rem;
            text-align: center;

            @media (min-width: 1023px) {
                height: 100%;
                width: 50%;
                padding: 4rem 6rem;
            }

            &__header{
                color: #1D2025;
                font-size: clamp(3.5rem, 8vw, 14rem);
                font-weight: 400;
                line-height: 100%; /* 100% */
                text-transform: uppercase;
            }

            &__description{
                color: #4C5461;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 22px; /* 157.143% */
                text-transform: uppercase;
            }
        }
    }
}

.mask{
    width: 100%;
    overflow: hidden;


    & span{
        display: block;
    }
}

.cursor{
    position: fixed;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    border: 2px solid #000;
    transition: transform .3s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;



    &.hidden{
        display: none;
        visibility: hidden;
    }
}
.btn-hidden{
    display: none;
    visibility: hidden;
}
.grow, .grow-small{
    transform: scale(4.5);
    background: #fff;
    mix-blend-mode: difference;
    border: none;
}
.grow-small{
    transform: scale(2);
}