@font-face {
    font-family: Thunder;
    src: url('../font/thunder.otf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    font-family: 'Thunder';
    background: #F2FF9F;
}

.hero{
    height: 100vh;
    width: min(100%, 1440px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
    // overflow: hidden;

    &-content{
        width: 100%;
        height: 45%;
        padding: .5rem 1.5rem;
        overflow: hidden;

        & header{
            height: 75px;
            width: 100%;

            & .header-menu{
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                list-style: none;

                & .mask{
                    overflow: hidden;
                    width: 100%;
                    display: block;
                    clip-path: circle(0% at 0 100%);
                }

                & a{
                    text-decoration: none;
                    color: #000;
                    font-size: clamp(2rem, 3vw, 3rem);
                    font-weight: 500;
                    text-transform: uppercase;
                    display: block;
                    
                }
            }
        }
        &__title{
            height: calc(clamp(10rem, 15vw, 30rem) - 40px);
            font-weight: 900;
            font-size: clamp(10rem, 16vw, 30rem);
            overflow: hidden;
            max-height: calc(clamp(10rem, 5vw, 15rem) * 2);
            letter-spacing: 4px;
            
            & .word{
                overflow: hidden;
            }
        }

        &__anim-text{
            width: 150%;
            height: 50px;

            &:hover{
                & .mask{
                    & .text{
                        animation-play-state: paused;
                    }
                }
            }

            & .mask{
                height: 50px;
                width: 100vw;
                overflow: hidden;
                position: relative;
                

                & .text{
                    height: 100%;
                    display: flex !important;
                    align-items: center;
                    // justify-content: center;
                    gap: .5rem;
                    font-size: clamp(2rem, 2vw, 3rem);
                    padding: 10px 0;
                    animation: marquee 10s linear infinite;

                }

                .overlay{
                    position: absolute;
                    top: 2px;
                    left: 0;
                    width: 100%;
                    height: 46px;
                    background-image: linear-gradient(to right, rgba(242,255,159,.8) -5%, rgba(255,0,0,0), rgba(242,255,159,.8) 85%);
                    z-index: 9;
                }
                &::before{
                    position: absolute;
                    top: 0;
                    left: -.5rem;
                    display: block;
                    content: '';
                    height: 2px;
                    width: 100vw;
                    background-color: #000;
                }
                &::after{
                    position: absolute;
                    bottom: 0;
                    left: -.5rem;
                    display: block;
                    content: '';
                    height: 2px;
                    width: 100vw;
                    background-color: #000;
                }
            }

        }

    }
    &-img{
        height: 60%;
        width: 100%;
        background-color: #000;
        height: 50%;
        display: grid;
        place-content: center;
        justify-items: center;
        border: none;
        border-radius: 2rem 2rem 0 0;

        & img{
            max-width: 80%;
            max-height: 100%;
        }
    }
}

@keyframes marquee {   
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(calc(-100% - 5rem));
    }
}

.cursor{
    position: fixed;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    border: 2px solid #000;
    transition: transform .3s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;



    &.hidden{
        display: none;
        visibility: hidden;
    }
}
.btn-hidden{
    display: none;
    visibility: hidden;
}
.grow, .grow-small, .grow-img{
    transform: scale(4.5);
    background: #F2FF9F;
    mix-blend-mode: difference;
    mask-mode: alpha;
    border: none;
}
.grow-small{
    transform: scale(2);
}
.grow-img{
    transform: scale(2.5);
    background: #fff;
    mix-blend-mode: overlay;
    border: 2px solid #fff;
}