.scroller{
    max-width: 600px;
    outline: 3px solid lime;

    &__inner{
        padding: 1rem 0;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }


    &[data-animated="true"]{
        // border: 5px solid lime;
        overflow: hidden;
        --webkit-mask: 
            linear-gradient(
                90deg, 
                transparent, 
                white 20%,
                white 80%, 
                transparent
            );
        mask: linear-gradient(90deg, transparent, white 20%,white 80%,transparent);

        & .scroller__inner{
            flex-wrap: nowrap;
            animation: 
            scroll 
            var(--_animation-duratoin, 40s) 
            var(--_animation-direction, forwards) 
            linear 
            infinite;
        }
    }

    &[data-direction= "right"] {
        --_animation-direction: reverse;
    }
    &[data-duration= "fast"] {
        --_animation-duratoin: 20s;
    }
}

@keyframes scroll {
    to{
        transform: translate(calc(-50% - .5rem));
    }
}





/* general styles */

:root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-primary-100: hsl(205, 15%, 58%);
    --clr-primary-400: hsl(215, 25%, 27%);
    --clr-primary-800: hsl(184, 54%, 41%);
    --clr-primary-900: hsl(218, 33%, 9%);
}
  
html {
    color-scheme: dark;
}
  
body {
    display: grid;
    min-block-size: 100vh;
    place-content: center;
    font-family: system-ui;
    font-size: 1.125rem;
    background-color: var(--clr-primary-800);
}
  
.tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;

    & li{
        padding: 1rem;
        background: var(--clr-primary-400);
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
    }
}


.header{
    text-align: center;
}