*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

.main-p{
    width: 100%;
    height: 100vh;
    background-color: rgb(61, 61, 61);
}

#main{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    overflow: hidden;
}

#top{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    overflow: hidden;
}

#center{
    position: relative;
    width: 100%;
    height: 100vh;
    transform-origin: center;
    background-color: rgb(0, 0, 0);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    overflow: hidden;
}

#bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

#main h1{
    font-family: 'Inter', sans-serif;
    font-size: 22vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#top-h1{
    bottom: 50%;
}

#bottom-h1{
    top: 0% !important;
}

.content{
    margin-top: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: #fff;
    gap: 4vh;
}

.content h4{
    font-size: 1vw;
    font-family: 'Inter', sans-serif;
}

.content h3{
    width: 22%;
    font-size: 3vw;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 400;
}

.content .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 2vw;
    border-radius: 50px;
    background-color: #fff;
    color: #0d0d0d;
    font-family: 'Inter', sans-serif;
}

.content h2{
    font-size: 20vw;
    font-family: 'Inter', sans-serif;
}