*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
}
.button{
    position: fixed;
    right: 0px;
    margin: 20px;
    z-index: 2;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #455CE9;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger{
    width: 100%;
    &::after, &::before{
        content: "";
        display: block;
        height: 1px;
        width: 40%;
        margin: auto;
        background-color: white;
        position: relative;
        transition: transform 0.3s;
    }

    &::after{
        top: -5px;
    }

    &::before{
        top: 5px;
    }
}

.burgerActive{

    &::after{
        transform: rotate(45deg);
        top: -1px;
    }

    &::before{
        transform: rotate(-45deg);
        top: 0px;
    }
    
}

.menu{
    height: 100vh;
    width: min(80%, 450px);
    background-color: #444444;
    position: fixed;
    right: 0;
    top: 0;
    color: white;

    .body{
        box-sizing: border-box;
        height: 100%;
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .nav{
            display: flex;
            flex-direction: column;
            font-size: 56px;
            gap: 12px;
            margin-top: 80px;

            .header{
                color: rgb(153, 153, 153);
                border-bottom: 1px solid rgb(153, 153, 153);
                text-transform: uppercase;
                font-size: 11px;
                margin-bottom: 40px;
            }

            a{
                text-decoration: none;
                color: white;
                font-weight: 300;
            }
            
        }
    }
}
.svgCurve{
    position: absolute;
    top: 0;
    left: -99px;
    width: 100px;
    height: 100%;
    fill: #444444;
    stroke: none;
}

.hero{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__header{
        font-size: clamp(2.5rem, (3rem + 2.75vw), 8rem);
    }
}