@font-face {
    font-family: 'Disket';
    src: url('../font/Disket-Mono-Bold.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100vw;
    min-height: 100vh;
    font-family: 'poppins';

}
ul{
    list-style: none;

    & a{
        text-decoration: none;
        color: #000;
    }
}
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    pointer-events: none;
}

.counter{
    position: fixed;
    left: 50px;
    bottom: 50px;
    display: flex;
    gap: 4px;
    height: 100px;
    font-size: 102px;
    line-height: 102px;
    clip-path: polygon(0 0, 100% 0, 100% 100px, 0 100px);
    font-weight: 400;
    font-family: 'Disket';
}

.counter-1,
.counter-2,
.counter-3{
    position: relative;
}

.num1offset1{
    position: relative;
}
.num1offset2{
    position: relative;
    right: -10px;
}

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 50px;
    transform: translate(-50%, -50%);
    background: rgb(80, 80, 80);

    &-bar{
        height: 100%;
        width: 0;
        background-color: #fff;
    }
}
.home{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.header{
    height: 150px;
    width: min(100%, 1440px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    font-family: 'Disket';
    font-size: 24px;

    &-nav{
        flex-shrink: 0;

        & .main-menu{
            height: 100%;
            width: 100%;
            display: flex;
            gap: 18px;

            & .product-menu{
                display: flex;
                flex-direction: column;
                font-size: 20px;
            }

            & a{
                overflow: hidden;
            }
        }
    }
}
.hero{
    height: calc(100vh - 150px);
    width: min(100%,1440px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &-header{
        font-family: 'Disket';
        font-size: clamp(2.75rem, (3.5rem + 3.75vw), 9.5rem);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 7.5rem;

        & .row{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        & span{
            display: block;
        }

    }

    &-bottom{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;

        &__content{
            width: 45%;
            font-size: clamp(.75rem, (.75rem + .75vw), 1.2rem);
            text-align: right;
        }
    }
}