*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    background-color: #334155;
    font-kerning: none;
    font-family: 'Nunito', sans-serif;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    min-height: 100vh;
    width: min(90%, 1440px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;

    & h1{
        font-size: min(6.5vw, 6rem);
    }
    & p{
        font-size: min(3.5vw, 2.5rem);
    }
    & .btn{
        padding: .75rem 2.5rem;
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 2.5rem;
        color: #fff;
        font-weight: bold;
        font-size: 1.25rem;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &::before{
            clip-path: circle(15% at 10% 100%);
            border-radius: 2.5rem;
            position: absolute;
            width: 100%;
            height: 100%;
            content: '';
            display: block;
            background-color: #fff;
            transition: all .75s ease;
        }

        &.cursor-btn{
            border: 2px solid transparent;
            color: #334155;
            
            &::before{
                clip-path: circle(131.4% at 15% 100%);
                
            }
    
        }
        & span{
            z-index: 9;
        }

    }
    & .cursor{
        position: fixed;
        width: 40px;
        height: 40px;
        margin-left: -20px;
        margin-top: -20px;
        border-radius: 50%;
        border: 2px solid #fff;
        transition: transform .3s ease;
        transform-origin: center center;
        pointer-events: none;
        z-index: 1000;
        // display: none;
    
        @media (min-width:480px) {
            // display: block;
        }

    }
    .hidden{
        display: none;
        visibility: hidden;
    }
    .btn-hidden{
        display: none;
        visibility: hidden;
    }
    .grow, .grow-small{
        transform: scale(4.5);
        background: #fff;
        mix-blend-mode: difference;
        border: none;
    }
    .grow-small{
        transform: scale(2);
    }

}